body {
    font-family: sans-serif;
}

progress {
    transform: rotate(0);
    height: 50px;
    width: 400px;
}

.wait-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gauge-box {
    align-items: center;
    padding: 20px;
}

.race-info {
    display: flex;
    flex-direction: column;
}

#main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#primary-gauges {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

#tiltometer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

}

#stopwatch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid lightgray;
}

#battery-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#track-box {
    display: flex;
    flex-direction: row;
}

#latency {
    position: fixed;
    margin: 10px;
    padding: 0px 10px;
    bottom: 0px;
    left: 0px;
}