html {
    height: 100vh;
    width: 100%;
}

body {
    font-family: sans-serif;
}

.wait-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gauge-box {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    width: 30%;
}

.race-info {
    display: flex;
    flex-direction: column;
}

#main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 100%;
}

#primary-gauges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    height: 40vh;
    width: 100%;
}

#tiltometer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:  30%;
}

#stopwatch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid lightgray;
}

#battery-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    height: 100%;
}

#track-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
    justify-content: center;
}

#latency {
    position: fixed;
    margin: 10px;
    padding: 0px 10px;
    bottom: 0px;
    left: 0px;
}